<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel='stylesheet' type='text/css' href='/styles/chatstyle.css' />

</head>
<body>
  <div class="split left">
    <div class="topnav">
      <button onclick="location.href='/profile';" class="nav-btn">
        <img class="nav-icon" src="https://www.iconsdb.com/icons/preview/white/cog-xxl.png">
      </button>
      <form id="search" class="search" name="search" action="/chat" method="GET" onSubmit="submitSearch();">
      <input class="active" type="text" name="search" placeholder="Search">
      <button type="submit" class="nav-btn">
        <img class="nav-icon" src="https://www.iconsdb.com/icons/preview/white/search-13-xxl.png" />
      </button>
      </form>
    </div>

    <div class="centered">
    <% var flag = 0 %>
      <% if (user.previousChats) { %>
        <% for(var j = 0; j < user.previousChats.length; j++) { %>
          <% for(var i = 0; i < allChats.length; i++) { %>
            <% if(allChats[i].id == user.previousChats[j]) { %>
              <% for(var k = 0; k < allUsers.length; k++) { %>
                <% if(allUsers[k].id == allChats[i].members[1]) { %>
                  <form action="/chat/<%= user.previousChats[j] %>" method="get" class="prev-chats" onsubmit="submitForm(event);">
                    <button type="submit" class="nav-btn users-btn" >
                      <h3 class="chat-name"> <%= allUsers[k].username %> </h3>
                    </button>
                  </form>
                  <% flag = 1 %>
                  <% break %>
                <% } %>
              <% } %>
            <% } %>
          <% if(flag) { flag = 0; break; }} %>
        <% i = 0; } %>
      <% } %>
      <% if (user.previousChats == null) { %>
        <h2 class="alert"> You have not talked to other unicorns yet.</h2>
        <h3 class="alert"> It is time to start a new chat!</h2>
      <% } %>
    </div>
  </div>
  </div>

  <div class="split right">
      <section class="msger">
        <% if (guest) { %>
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"><%= guest.username %></i>
          </div>
          <div class="msger-header-options">
            <!-- <% if (chat) { %>
            <form action="/chat/<%= chat.id %>" method="post" class="block" onsubmit="submitForm(event);">
              <input type="text" name="blockuser" value="<%= guest.id %>">
              <button type="submit" class="nav-btn">
            </form>
            <% } %> -->
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>
        <% } %>
        <main class="msger-chat" class="blocked-message">
            <h1>Oopsie! You can't talk to this user because he has blocked you or you have blocked him! </h1>
            <p>To unblock go to your profile, then blocked users and click on the unblock button next to the user's name.</p>
          <!-- <div class="msg left-msg">
            <div
             class="msg-img"
             style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
            ></div>

            <!-- <div class="msg-bubble">
              <div class="msg-info">
                <!-- <div class="msg-info-name">Name</div> -->
                <!-- <div class="msg-info-time">auto</div> -->
              </div>

              <!-- <div class="msg-text">
                Hi! A really long message I sent to you because i need to test if the bubble is responsive and how text is being centered
              </div>
            </div> -->
          <!-- </div>

          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image:url(https://image.flaticon.com/icons/svg/2829/2829841.svg) "
            ></div> -->

            <!-- <div class="msg-bubble">
              <div class="msg-info">
                <!-- <div class="msg-info-name">User</div>
                <div class="msg-info-time">auto</div> -->
              </div>

              <div class="msg-text">
                Ok hi
              </div>
            </div> -->
          </div> -->
        </main>

        <!-- <form id='msger-inputarea' name="msgerinputarea" method="post" class="msger-inputarea" onsubmit="submitForm(event);">
          <input type="text" name="msgerinput" class="msger-input" placeholder="Enter your message...">
          <button type="submit" class="msger-send-btn">Send</button>
        </form> -->
      </section>
  </div>

    <script type="text/javascript">
        // var form1 = document.getElementById('msger-inputarea')
        function submitForm(event) {
          event.preventDefault();
          event.target.submit();
        }

    </script>
    <script type="text/javascript">
      var form = document.getElementById('search')
      form.addEventListener("submit", event => {
        event.preventDefault();
      });

      function submitSearch(){
          form.submit();
      }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/scripts/chat.js"></script>
    <script defer type="text/javascript" src='/scripts/script.js'></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>

</body>
</html>
